<a href="https://colab.research.google.com/github/luisosmx/SQL_Exercises/blob/main/SQL_JOINS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Los `JOINS` son una de las características más importantes de `SQL` y se utilizan para combinar registros de dos o más tablas. Hay varios tipos de `JOINS` en `SQL`, cada uno de los cuales combina registros de manera diferente.

* `INNER JOIN`: Este tipo de `JOIN` combina los registros que tienen un valor correspondiente en ambas tablas. Solo se incluyen en el resultado aquellos registros que tienen un valor correspondiente en ambas tablas.

* `LEFT JOIN`: Este tipo de `JOIN` combina los registros de la tabla de la izquierda con los de la tabla de la derecha. Si un registro de la tabla de la derecha no tiene un valor correspondiente en la tabla de la izquierda, se incluye un registro con valores nulos en la tabla de la derecha.

* `RIGHT JOIN`: Este tipo de `JOIN` es similar al `LEFT JOIN`, pero combina los registros de la tabla de la derecha con los de la tabla de la izquierda. Si un registro de la tabla de la izquierda no tiene un valor correspondiente en la tabla de la derecha, se incluye un registro con valores nulos en la tabla de la izquierda.

* `FULL OUTER JOIN`: Este tipo de `JOIN` combina los registros de ambas tablas, incluyendo los que tienen un valor correspondiente en ambas tablas y aquellos que solo tienen un valor correspondiente en una tabla.

* `CROSS JOIN`: Este tipo de `JOIN` combina cada registro de la tabla de la izquierda con cada registro de la tabla de la derecha. El resultado es una combinación de todas las combinaciones posibles de registros de ambas tablas.

Estos son los tipos más comunes de `JOINS` en `SQL`. Al usarlos correctamente, se puede combinar registros de varias tablas y obtener información más completa y útil.

Aquí hay algunos ejemplos de código que muestran cómo utilizar los diferentes tipos de `JOINS` en `SQL`:

`INNER JOIN`:

In [ ]:
SELECT *
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;

`LEFT JOIN`:

In [ ]:
SELECT *
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;

`RIGHT JOIN`:

In [ ]:
SELECT *
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;

`FULL OUTER JOIN`:

In [ ]:
SELECT *
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name;

`CROSS JOIN`:

In [ ]:
SELECT *
FROM table1
CROSS JOIN table2;

Estos son solo algunos ejemplos de código para ilustrar cómo utilizar los diferentes tipos de `JOINS` en `SQL`. Es importante notar que la sintaxis y la exactitud de los ejemplos pueden variar dependiendo del motor de base de datos que esté utilizando. Sin embargo, la lógica y el concepto detrás de cada `JOIN` son los mismos.